*.xlsx
*/__pycache__/*
deepplantphenomics/
generated_heatmaps
mask_ckpt.txt
bin/
lib/
pyvenv.cfg
share/
*.jpeg
*.sif
utils.pyc
.idea/
.env
.bash_history
.python_history
*test/
.cache/*
tools/__pycache__/
dark
data*
data_*
input*
output*
dist/
core/__pycache__/
*.egg-info
**/__pycache__/**
venv