*.xlsx
__pycache__/*
bin/
lib/
pyvenv.cfg
share/
*.jpeg
*.sif
utils.pyc
.idea/
.env
.bash_history
.python_history
*test/
.cache/*
tools/__pycache__/
data
dark
data*
input
output*
dist/
core/__pycache__/
*.egg-info
